.property-container {
    background-color: #1abc9c;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.property-container h2 {
    color: white;
    margin-bottom: 30px;
    text-align: left;
    font-size: 28px;
    font-weight: bolder;
    margin-left: 300px;
}

.image-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 158px;
    margin-bottom: 30px;
}

.single-box {
    width: 100%;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideUpGroup 0.8s ease-out forwards;
    opacity: 0;
    transform: translateY(100px);
}

.property-img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.single-box h3 {
    font-size: 20px;
    margin: 15px 0 5px;
    color: white;
    font-weight: bolder;
    text-align: left;
    word-break: break-word;
}

.single-box p {
    font-size: 14px;
    color: white;
    text-align: left;
    word-break: break-word;
}

.cta-button {
    background-color: #a85cd3;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    margin-top: 10px;
    margin-left: -972px;
}

.cta-button:hover {
    background-color: #9347bb;
}

@keyframes slideUpGroup {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.pin-img {
    width: 45px;
    height: 40px;
    margin-bottom: 10px;
}

.pin-label {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-left: -205px;
}

@media (max-width: 1600px) and (min-width: 768px) {
    .image-boxes {
        justify-content: center;
        gap: 60px;
    }

    .single-box {
        max-width: 260px;
    }

    .cta-button {
        margin-left: 0;
        margin-right: auto;
        margin-top: 40px;
    }

    .property-container h2 {
        margin-left: 0;
        text-align: center;
    }

    .pin-label {
        margin-left: 0;
        justify-content: center;
    }

    .single-box p {
        margin-left: 0 !important;
        text-align: center;
    }
}

 @media (max-width: 768px) {
    .property-container h2 {
        text-align: center;
        margin-left: 0;
        font-size: 24px;
    }

    .property-container {
        margin-top: 40px;
    }

    .cta-button {
        margin-left: 0;
        display: block;
        margin-top: 50px;
        padding: 12px 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .image-boxes {
        gap: 20px;
    }

    .pin-label {
        margin-left: 0;
        justify-content: center;
    }

    .single-box {
        max-width: 70%;
    }
}

@media (max-width: 480px) {
  .property-container h2{
    margin-left: 0px;
  }
}