.footer-wrapper {
    width: 100%;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.top-white-section {
    background-color: white;
    height: 180px;
}

.bottom-orange-section {
    background-color: #f7941d;
    padding: 80px 20px 40px;
    position: relative;
    z-index: 1;
}

.footer-content-unique {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.review-text-unique {
    text-align: center;
    margin: 0 40px;
    color: white;
}

.review-text-unique h2 {
    margin-bottom: 15px;
    font-size: 38px;
    font-weight: 900;
}

.btn-read-unique {
    background-color: #9B59B6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-left: -200px;
    margin-top: 32px;
}

.star-card {
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    transform: rotate(-30deg);
}

.left-unique-card {
    margin-right: 20px;
}

.right-unique-card {
    margin-left: 20px;
    transform: rotate(10deg);
}

.img-footer-unique {
    position: absolute;
    right: 12%;
    top: 5px;
    height: 450px;
    z-index: 3;
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .img-footer-unique {
        right: -1% !important;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .img-footer-unique {
        right: -10% !important;
    }
}

@media (max-width: 900px) {

    .img-footer-unique,
    .top-white-section {
        display: none;
    }

    .btn-read-unique {
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .footer-content-unique {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .review-text-unique {
        margin: 20px 10px;
    }

    .review-text-unique h2 {
        font-size: 24px;
    }

    .btn-read-unique {
        margin-left: 0;
        margin-top: 20px;
    }

    .img-footer-unique {
        display: none;
    }

    .left-unique-card,
    .right-unique-card {
        margin: 10px 0;
        transform: rotate(0deg);
    }

    .star-card {
        transform: rotate(0deg);
    }

    .top-white-section {
        display: none;
    }
}