.main-container{
  height: auto;
  min-height: 700px;
  /* background-color: aquamarine; */
  background-image: url("../public/images/home1.png");
  background-size: cover;
  background-position: center;
}

.nabar-class{
    /* width: 60%; */
    /* margin-left: 15%; */
    border-radius: 5px;
    height: 70px;
}

.hero-div-h1{
  color: white;
  font-weight: 1000;
  /* font-family:Verdana, Geneva, Tahoma, sans-serif */
}

.search-div{
    background-color: rgb(255, 255, 255);
    width: 70%;
    border-radius: 50px;
}
.search-filde{
  width: 80% !important; 
  height: 50px;
  border:none !important;
  border-radius:  50px !important;
}

.search-button{
  width: 40px;
  height:40px ;
  border-radius: 100px !important;
  background-color: #1da388 !important;
}

.login-container-row{
  height: 400px;
   background-color: rgb(255, 255, 255);
}

.login-text-div{
  height: 300px;
  /* width: 50%; */
}

.logincontainer-image{
  top: 29%;
  left : 55%;
  z-index: 1;
}
.btn-outline-primary {
  border-color: blueviolet !important;
  color: blueviolet !important;
}

.btn-outline-primary:hover {
  background-color: white !important;
  color: #9b59b6 !important; /* Optional: Keep text color the same on hover */
  border-color:#9b59b6 !important; /* Optional: Keep border color same on hover */
}

.navLoginButton{
  color: white !important;
  background-color: #9b59b6 !important;
  width: 95px !important;
}

.Component3-image{
  width: 70%;
}
/* .images-div{
  height: 400px;
} */
.Group8{
  top: 10%;
  left: -6%;
}
.Group9{
  top: 35%;
  left: -10%;
  z-index: 2;
}

.mamagment-div{
  /* height: 500px; */
}

.Board-container{
  height: auto;
  background-color: #1abc9c;
}

.pinedCard{
  height: 300px;
  width: 80%;
  border-radius: 9px !important;
  box-shadow: rgba(0, 0, 0, 0.37) 3.8px 3.8px 4.7px;
}

.pin{
  height: 30px;
  width: 15%;
}

.login-container{
  height: auto;
}